.App {
  text-align: center;
}

.App-header {
  background-color: lightseagreen;
  padding: 5px;
  color: white;
}

.App-intro {
  font-size: large;
  color: lightseagreen;
  border-bottom: 1px solid lightgrey;
  padding: 10px;
  margin: 0px;
}

.AddItemForm {
  width: 100%;
  padding: 10px;
  background: lightseagreen;
}
 