.myListItem {
    flex: 1;
    display: flex;
  margin: 1px 0px;
  padding: 10px 10px;
  color: lightseagreen;
  text-align: left;
  background-color: white;
}

.listItemDone {
  flex-basis: 90%;
  padding: 10px;
  color: gray; 
  text-decoration: line-through;
  margin: 0;
}

.listItemNotDone {
  flex-basis: 90%;
  padding: 10px;
}

.deleteButton {
    flex-basis: 5%;
    min-height: 44px;
    border: none;
    background: lightcoral url('../assets/icon-delete.png') center center no-repeat;
    margin-right: 10px; 
    background-size: 25%;
}

.editButton {
    flex-basis: 5%;
    min-height: 44px;
    border: none;
    background: lightseagreen url('../assets/icon-edit.png') center center no-repeat;
    background-size: 25%;
}