.myListItem {
    flex: 1;
    display: flex;
    padding: 10px 20px; 
    padding-bottom: 0;
}

.myListItem:last-child {
    padding-bottom: 20px;  
}

.myListItem:first-child {
    padding-top: 20px;  
}

.itemLabel {
  flex-basis: 90%;  
  padding: 0 20px;
  border: none;
  text-align: left;
  font-size: large;  
}

.listItemDone {
  color: gray; 
  text-decoration: line-through;
}

.listItemNotDone {
  color: lightseagreen;
}

.actionButton {
    flex-basis: 5%;
    min-height: 44px;
    min-width: 44px;
    border: none;    
}

.editButton {
  background: turquoise url('../assets/icon-edit.png') center center no-repeat;
  background-size: 33%;
}

.doneTaskButton {
  background: lightseagreen url('../assets/icon-done.png') center center no-repeat;
  background-size: 33%;
}

.saveButton {
  background: lightslategray url('../assets/icon-save.png') center center no-repeat;
  background-size: 33%;
}

.deleteButton {
  background: lightcoral url('../assets/icon-delete.png') center center no-repeat;
  background-size: 33%;
}