.app {
  text-align: center;
}

.appHeader {
  background-color: lightseagreen;
  padding: 5px;
  color: white;
}

.appIntro {
  font-size: large;
  font-weight: bold;
  color: lightseagreen;
  padding: 10px;
  margin: 0px;
  background-color: lightgray;
}
