.App {
  text-align: center;
}

.App-header {
  background-color: lightseagreen;
  padding: 5px;
  color: white;
}

.App-intro {
  font-size: large;
  font-weight: bold;
  color: lightseagreen;
  padding: 10px;
  margin: 0px;
}
